*{
  margin: 0;
  padding: 0;
}
main{
  width: 80%;
  margin: 50px auto;
  border: 1px solid black;

  display: grid;
  grid-template-rows: 75px 100px 200px 75px;
  grid-template-columns: 28% 28% 28% auto;
  color : white;
  grid-gap: 10px;
  text-align: center;
}
.div1{
  background-color: blue;
  grid-column: 1/5;
  text-align: center;
}
.div2{
  background-color: yellow;
}
.div3{
  background-color: red;
}
.div4{
  background-color: green;
}
.div5{
  background-color: orange;
  grid-row: 2/4;
  grid-column: 4/5;
}
.div6{
  background-color: pink;
  grid-column: 1/4;
}
.div7{
  background-color: black;
  grid-column: 1/5;
}
